bin/Debug/stderr.txt
bin/Debug/stdout.txt
space_insaders.cbp
space_insaders.depend
space_insaders.layout
obj/Debug/ia.o
obj/Debug/jeu.o
obj/Debug/main.o
obj/Debug/player.o
obj/Debug/structure.o
obj/Debug/utilitaire.o
obj/*
obj/Debug/*
